@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Mulish', sans-serif;
    box-sizing: border-box;
}

/* shared style  */
.btn-primary{
    width: 174px;
height: 52px;
flex-shrink: 0;
border-radius: 8px;
background: #FF5400;
border: none;
color: #fff;
}

.input-primary{
    width: 174px;
height: 52px;
flex-shrink: 0;
color: rgba(19, 19, 24, 0.50);
text-align: center;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding: 16px 75px 16px 16px;
border: none;
border-radius: 8px;
background: #FFF;
}

/* nav style  */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: 0 auto;

}

.nav-logo{
    display: flex;
    align-items: center;

}

.menu{
    display: flex;
    justify-content: space-between;
}

.menu a{
    margin-right: 30px;

}
.bar{
    display: none;
}

/* main section  */

.banner{
    max-width: 1440px;
    width: 100%;
    margin: 0px auto;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* background-color: red; */
}

.banner-title{
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}
.banner-img{
    position: relative;
}
.banner-content{
    /* background-color: aqua; */
    padding: 150px;
    width: 1000px;
    text-align: center;
    /* background-color: red; */
    position: absolute;
    color:#fff;
    /* height: 1000px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center;
}
.banner-input{
    margin-top: 2rem;
    display: flex;
    gap: 20px;
    padding: 16px;
    border-radius: 8px;
background: rgba(255, 255, 255, 0.30);
}

/* tour sectino  */
.tour-section{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    /* padding: 50px; */
    width: 85%;
    margin: 100px auto;
}

.tour-section img{
    width: 100%;
}

.tour-text{
    width: 450px;
}

.your-destination{
    width: 80%;
    margin: 0 auto;
}

.destination-title{
    color: #131318;
text-align: center;
font-family: Mulish;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
    text-align: center;
}

.destination-description{
    text-align: center;
    margin: 25px 0;
}

.first2-img{
    display: flex;
    gap: 20px;
}
.three-image{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.last2-img{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}


 














.choose-us{
    width: 85%;
    display: flex;
    justify-content: center;
    margin: 0px auto;
    flex-direction: column;



}
.choose-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.card{
    width: 550px;
    border-radius: 16px;
    padding: 30px 50px;
border: 1px solid rgba(251, 181, 99, 0.20);
}
.card1{
background: rgba(251, 181, 99, 0.05);

}
.card2{

background: rgba(41, 206, 246, 0.05);
}
.card3{

background: rgba(233, 68, 68, 0.05);
/* margin-bottom: 800px; */
}

.card-title{
    margin: 16px 0px;
}

.choose-card-container{
    display: flex;
    justify-content: center;
    gap: 40px;
}

.third-card{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.choose-description{
    width: 640px;
    text-align: center;
    margin: 30px 0px;
}

/* .deals{
    margin: 0 auto;
    max-width: 1440px;
    width: 75%;
}

.deals-text{
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}


.deals-img>img{
    position: absolute;

}
.deals-img{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: end;
}

.card-container{
    position: absolute;
    
    transform: translate(50%, -30%);
}
*/

.deals-text{
    margin: 30px;
    width: 640px;
}

.deal-container{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.deal-button{
    margin: 30px 0px;
}


.deals-text{
    text-align: center;
}

.image-container{
    position: relative;
    width: 80%;
    margin: 0 auto;
}

.image-container2{
    margin: 30px 0px;
}



.clock-container,.people-container,.location-container{
    display: flex;

}

.deal-card{
    position: absolute;
    top: 10%;
    right: 10%;
    width: 550px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    padding: 50px;
}

.deal-card-title,.deal-card-description,.deal-price{
    margin: 10px 0px;
}

.deal-icon-container{
    display: flex;
    justify-content: space-between;
}

.deal-icon{
    height: 24px;
    width: 24px;
}


.deal-card2{
    position: absolute;
    top: 10%;
    left: 10%;
    width: 550px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    padding: 50px;
}
.simple-text-container{
    width: 30%;
}

.simple-title{
    color: #131318;
font-family: Mulish;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: 60px; /* 150% */
margin-bottom: 20px;
}
.simple-container li{
    margin: 15px;
}
.simple-btn{
    margin-top: 25px;
}

.simple-container{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}




.newslatter-title{
    margin-bottom: 10px;
}

.newslatter-container{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;

}
.newslatter-img-container{
    position: relative;
}

.rotate-btn{
    position: absolute;
    width: 224px;
    top: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    /* text-align: center; */
/* height: 120px; */
transform: rotate(-19.628deg);
flex-shrink: 0;
}
.newslatter-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.newlatter-desc{
    margin-bottom: 20px;
}

.newslatter-input{
    width: 393px;
height: 52px;
flex-shrink: 0;
border-radius: 8px;
background: rgba(19, 19, 24, 0.05);
border: none;
margin: 16px 0;
}

.subscribe{
    width: 393px;

}

.review-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.review-image{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.review-container h3{
    margin: 50px 0;
}

.review-image img{
    width: 80%;
    border-radius: 20px;
    border: 10px solid #FF5400;
}



footer{
    /* width: 100%; */
    background: rgba(19, 19, 24, 0.05);
    /* position: relative; */
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    text-align: center;
    padding: 100px 250px;
}
footer img{
    width: 40px;
    height: 40px;
}
.footer-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

}
.footer-container{
    width: 750px;
}
hr{
    height: 1px solid black;
    margin-bottom: 30px;
    color: rgba(19, 19, 24, 0.10);
    /* border: transparent; */
}
.footer-icon{
    margin: 30px 0px;
}



/* resposive style  */
@media screen and (max-width:600px) {
    .bar{
        display: block;
    }
    .menu{
        display: none;
    }




    .banner-img img {
         /* transform: scale(1.5); 
         transform-origin: center; */
         margin-top: 20px;
         width: 350px;
         height: 550px;
         border-radius: 16px;
     }

     .banner-content{
        width: 300px;
        margin-top: 40px;
        padding: 0px;

     }
     .banner-title h1{
        font-size: 22px;
     }

     .banner-input{
        display: flex;
        flex-direction: column;
     }


     .tour-section{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
     }

     .tour-text{
        /* padding: 15px; */
        margin-left: 1px;
        width: 80%;
        /* overflow: hidden; */
     }

     .first2-img,.three-image,.last2-img{
        flex-direction: column;
     }

     .choose-us{
        width: 70%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
     }
     .choose-text{
        text-align: center;

     }


    .destination-title{
        margin-top: 0px;
        font-size: 20px;
     }
     .destination-img-container img{
        height: 200px;
     }

     .choose-card-container,.third-card{
        flex-direction: column;
        justify-content: center;
        align-items: center;
     }

     .card{
        width: 350px;
     }

     .image-container> img{
        /* margin: 0 auto; */
        /* justify-content: center; */
        width: 350px;
         height: 550px;
     }

     .deals-text{
        width: 70%;

     }

     .deal-card{
        width: 300px;
        top: 10%;
        left: 10%;
     }

     .deal-container{
        width: 70%;
     }

     .deal-icon{
        height: 20px;
        width: 20px;
    }

    .simple-text-container{

        width: 80%;
    }

    .simple-container{
        flex-direction: column;
    }

    .simple-title{
        font-size: 20px;
    }

    .footer-desc{
        width: 280px;
    }

    .footer-icon i{
        margin-right: 20px;
    }
    .newslatter-img{
        width: 390px;
    }
    .newslatter-text{
        padding: 15px;
    }

    .newslatter-container{
        flex-direction: column;
    }

    .rotate-btn{
        width: 130px;
        top: 60%;
        right: 15%;
    }

    .review-image{
        display: flex;
        flex-direction: column;
        
    }
    .deal-icon-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
     
    




    
}



