@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Mulish', sans-serif;
    box-sizing: border-box;
}

/* shared style  */
.btn-primary{
    width: 174px;
height: 52px;
flex-shrink: 0;
border-radius: 8px;
background: #FF5400;
border: none;
color: #fff;
}

.input-primary{
    width: 174px;
height: 52px;
flex-shrink: 0;
color: rgba(19, 19, 24, 0.50);
text-align: center;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding: 16px 75px 16px 16px;
border: none;
border-radius: 8px;
background: #FFF;
}

/* nav style  */
.nav-title img{
    margin-right: 1rem;
}
nav{
    max-width: 1440px;
    width: 78%;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.nav-title{
    display: flex;
    align-items: center;
font-family: Mulish;
font-size: 36px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.bingo{
    color: #FF5400;

}
.nav-links a{
    text-decoration: none;
}

.nav-links ul{
    width: 40%;
    display: flex;
    gap: 40px;
}

.home-link{
    color: #FF5400;
    font-weight: 700;
}

/* main section  */

.banner{
    max-width: 1440px;
    width: 100%;
    margin: 0px auto;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* background-color: red; */
}

.banner-title{
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}
.banner-img{
    position: relative;
}
.banner-content{
    /* background-color: aqua; */
    padding: 150px;
    width: 1000px;
    text-align: center;
    /* background-color: red; */
    position: absolute;
    color:#fff;
    /* height: 1000px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center;
}
.banner-input{
    margin-top: 2rem;
    display: flex;
    gap: 20px;
    padding: 16px;
    border-radius: 8px;
background: rgba(255, 255, 255, 0.30);
}

.popular-tours{
    margin-top: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 110px;
}

.popular-tour-text{
    width: 550px;

}

.ul{
    margin: 20px 0px;
}

.popular-title{
    margin-bottom: 20px;
}

.popular-tour-text p{
    margin-bottom: 20px;
    line-height: 35px;
}
 
